/* Coolors Exported Palette - https://coolors.co/7c3aed-f43f5e-83ac46-3b82f6-f59e0b-a78bfa-f14141-668d2b-60a5fa-fbbf24 */

/* CSS HEX */
--blue-violet: #7c3aedff;
--folly: #f43f5eff;
--asparagus: #83ac46ff;
--azure: #3b82f6ff;
--gamboge: #f59e0bff;
--tropical-indigo: #a78bfaff;
--imperial-red: #f14141ff;
--avocado: #668d2bff;
--ruddy-blue: #60a5faff;
--amber: #fbbf24ff;

/* CSS HSL */
--blue-violet: hsla(262, 83%, 58%, 1);
--folly: hsla(350, 89%, 60%, 1);
--asparagus: hsla(84, 42%, 47%, 1);
--azure: hsla(217, 91%, 60%, 1);
--gamboge: hsla(38, 92%, 50%, 1);
--tropical-indigo: hsla(255, 92%, 76%, 1);
--imperial-red: hsla(0, 86%, 60%, 1);
--avocado: hsla(84, 53%, 36%, 1);
--ruddy-blue: hsla(213, 94%, 68%, 1);
--amber: hsla(43, 96%, 56%, 1);

/* SCSS HEX */
$blue-violet: #7c3aedff;
$folly: #f43f5eff;
$asparagus: #83ac46ff;
$azure: #3b82f6ff;
$gamboge: #f59e0bff;
$tropical-indigo: #a78bfaff;
$imperial-red: #f14141ff;
$avocado: #668d2bff;
$ruddy-blue: #60a5faff;
$amber: #fbbf24ff;

/* SCSS HSL */
$blue-violet: hsla(262, 83%, 58%, 1);
$folly: hsla(350, 89%, 60%, 1);
$asparagus: hsla(84, 42%, 47%, 1);
$azure: hsla(217, 91%, 60%, 1);
$gamboge: hsla(38, 92%, 50%, 1);
$tropical-indigo: hsla(255, 92%, 76%, 1);
$imperial-red: hsla(0, 86%, 60%, 1);
$avocado: hsla(84, 53%, 36%, 1);
$ruddy-blue: hsla(213, 94%, 68%, 1);
$amber: hsla(43, 96%, 56%, 1);

/* SCSS RGB */
$blue-violet: rgba(124, 58, 237, 1);
$folly: rgba(244, 63, 94, 1);
$asparagus: rgba(131, 172, 70, 1);
$azure: rgba(59, 130, 246, 1);
$gamboge: rgba(245, 158, 11, 1);
$tropical-indigo: rgba(167, 139, 250, 1);
$imperial-red: rgba(241, 65, 65, 1);
$avocado: rgba(102, 141, 43, 1);
$ruddy-blue: rgba(96, 165, 250, 1);
$amber: rgba(251, 191, 36, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(
  0deg,
  #7c3aedff,
  #f43f5eff,
  #83ac46ff,
  #3b82f6ff,
  #f59e0bff,
  #a78bfaff,
  #f14141ff,
  #668d2bff,
  #60a5faff,
  #fbbf24ff
);
$gradient-right: linear-gradient(
  90deg,
  #7c3aedff,
  #f43f5eff,
  #83ac46ff,
  #3b82f6ff,
  #f59e0bff,
  #a78bfaff,
  #f14141ff,
  #668d2bff,
  #60a5faff,
  #fbbf24ff
);
$gradient-bottom: linear-gradient(
  180deg,
  #7c3aedff,
  #f43f5eff,
  #83ac46ff,
  #3b82f6ff,
  #f59e0bff,
  #a78bfaff,
  #f14141ff,
  #668d2bff,
  #60a5faff,
  #fbbf24ff
);
$gradient-left: linear-gradient(
  270deg,
  #7c3aedff,
  #f43f5eff,
  #83ac46ff,
  #3b82f6ff,
  #f59e0bff,
  #a78bfaff,
  #f14141ff,
  #668d2bff,
  #60a5faff,
  #fbbf24ff
);
$gradient-top-right: linear-gradient(
  45deg,
  #7c3aedff,
  #f43f5eff,
  #83ac46ff,
  #3b82f6ff,
  #f59e0bff,
  #a78bfaff,
  #f14141ff,
  #668d2bff,
  #60a5faff,
  #fbbf24ff
);
$gradient-bottom-right: linear-gradient(
  135deg,
  #7c3aedff,
  #f43f5eff,
  #83ac46ff,
  #3b82f6ff,
  #f59e0bff,
  #a78bfaff,
  #f14141ff,
  #668d2bff,
  #60a5faff,
  #fbbf24ff
);
$gradient-top-left: linear-gradient(
  225deg,
  #7c3aedff,
  #f43f5eff,
  #83ac46ff,
  #3b82f6ff,
  #f59e0bff,
  #a78bfaff,
  #f14141ff,
  #668d2bff,
  #60a5faff,
  #fbbf24ff
);
$gradient-bottom-left: linear-gradient(
  315deg,
  #7c3aedff,
  #f43f5eff,
  #83ac46ff,
  #3b82f6ff,
  #f59e0bff,
  #a78bfaff,
  #f14141ff,
  #668d2bff,
  #60a5faff,
  #fbbf24ff
);
$gradient-radial: radial-gradient(
  #7c3aedff,
  #f43f5eff,
  #83ac46ff,
  #3b82f6ff,
  #f59e0bff,
  #a78bfaff,
  #f14141ff,
  #668d2bff,
  #60a5faff,
  #fbbf24ff
);
